body{
    background-color: aquamarine;
    color: #49aa5e;
    
}
.card-body{
    margin-top: 20px;
    background-color: blue;
    
}
.name1{
    background-color: rgb(228, 64, 64);
    margin-left: 500px;
    
}
h1{
    color: black;
}
input[type=submit]{
    width: 100%;
    padding: 5px;
    border: 2px solid;
    border-color: rgb(65, 70, 66);
    border:none;
    cursor: pointer;
    border-radius: 5px;
}
input[type=submit]:hover{
    background-color: pink;
    transform: scale(1.2);
    box-shadow: 3px 3px 2px 0px;
}
